* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #35424a;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 2rem;
}

footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 2.5rem ;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}